<!DOCTYPE html>
<html layout:decorate="~{layout/main}">
<head>
    <title>Thêm/Sửa Category</title>
</head>
<body>
<main>
    <form th:action="@{/categories}" th:object="${category}" method="post">
        <label>ID: </label>
        <input type="text" th:field="*{id}" readonly/>
        <label>Tên: </label>
        <input type="text" th:field="*{name}" required/>
        <label>Mô tả: </label>
        <textarea th:field="*{description}" required></textarea>
        <button type="submit">Lưu</button>
    </form>
</main>
</body>
</html>
